@charset "UTF-8";

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo--principal{
    background-color: black;
    color: white;
}

.modulos{
    background-color: rgb(0, 153, 255);
    text-align: center;
}

.modulo-basico{
    color:rgb(255, 255, 27);
}

.modulo-intermediario{
    color:red;

}

.modulo-avancado{
    color:green;
}

.destaque{
    background-color: yellow;}



