@charset "UTF-8";

body{
    background-color: rgb(7, 7, 7);
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: violet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: rgb(95, 250, 250);
}